html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#range {
    width: 300px;
    height: 10px;
    position: relative;
    border-radius: 20px;
    background: #eee;
}

.range__progress {
    width: 10px;
    height: 100%;
    border-radius: 20px;
    background: #d10000;
}

.range__scroll {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    left: 0;
    border-radius: 50%;
    background: #d10000;
}